@charset "utf-8";
/* init */
* {margin: 0; padding: 0;}

/* Layout */
#main-tab-header-layout {position: relative; height: 80px;  background-color: #41b6e6;}

/* header */
.main-tap-header {position: absolute; width: 100%; min-width: 1280px; top: 0; margin: 0 auto; z-index: 4; background-color: #41b6e6;}

/* tap-top */
.main-tap-top {width: 100%; height: 70px; display: table;}
.main-tap-top .tap-top-left {position: relative; top: -10px; display: table-cell; width: 20%; padding-left: 30px;}
.main-tap-top .tap-top-middle {position: relative; top: -10px; display: table-cell; width: 55%; padding-left: 20px; text-align: center; letter-spacing: -.3px; font-size: 20px; font-family: Noto Sans CJK KR Regular; color: #fff;}
.main-tap-top .tap-top-right {float: right; width: 290px;}

.tap-top-left .icon-menu {cursor: pointer; width: 25px; height: 21px;}
.tap-top-left .icon-logo {cursor: pointer; width: 170px; height: 19px; margin-left: 20px;}

.tap-top-middle .top-middle-text {cursor: pointer; margin-right: 3%; color: #ffffff}

.tap-top-right .top-right-layout{position: relative;}
.tap-top-right .top-right-text-layout {margin-top: 32px; font-size: 17px; color: #001951; font-family: Noto Sans CJK KR Regular;}
.tap-top-right .top-right-text-layout .top-right-text {cursor: pointer; margin-right: 3%; word-break: keep-all;}
.tap-top-right .icon-pizza {cursor: pointer; position: absolute; width: 44px; height: 47px; top: -10px; right: 20px;}

/* tap-slide */
.main-tap-slide {width: 100%; height: 10px; position: relative; z-index: 3;}
.main-tap-slide .icon-plane {width: 41px; height: 18px; position: absolute; transition: left .5s;}

/* tap-nav */
.main-tap-nav {overflow: hidden; max-width: 1200px; height: 336px; margin: 0 auto; transition-property: height; transition: 0.3s; }

.main-tap-nav .nav-main {display: flex; justify-content: space-evenly;}
.main-tap-nav .tap-nav-collapse {margin-top: 43px;}
.main-tap-nav .tap-nav-collapse .nav-item .text-box {color: #ffffff; font-size: 15px; margin-bottom: 7px; font-family: Noto Sans CJK KR Regula;}
.main-tap-nav .tap-nav-collapse .nav-item:first-child .text-box {color: #001951; margin-bottom: 22px; font-size: 21px; font-weight: 600;}

.main-tap-nav .nav-bottom {margin: 10px 0 30px 60px;}
.main-tap-nav .nav-bottom .nav-bottom-item {margin-right: 20px; cursor: pointer; color: #ffffff;}

@font-face {
  font-family: "Noto Sans CJK KR Regular";
  src: url("./font/NotoSansKR-Regular.otf");
}