.pizza-card-form {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    min-width: 1200px;
}
.container {
    display: flex;
}
.pizza-img-container {
    width: 276px;
    height: 240px;
}
.item {
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
}
.pizza-menu-item{
    margin-top: 40px;
    position: relative;
    display: inline-block;
}
.container{
    position: relative;
    width: 590px;
    height: 240px;
    background: #fff;
}
.pizza-menu-card :nth-child(2){
    margin-left: 20px;
}